.App {
  position: absolute;
  width: 20%;
  text-align: center; 
}
h1 {
  text-align: center;
}
#box {
  width: 50vw;
  height: 30vh;
  margin-left: 30vw;
  margin-top: 25vh;
  background-color: Teal;
  border-radius: 2vh;
}
#option-bg {
  padding: 10px;
  background-color: #fff;

}
.dropbtn {
  width: 100%;
  margin-left: 30px;
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown-content {
  width: 100%;
  margin: 10px 30px;
  padding: 5px;
  background-color: #fafafa;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.288);
  z-index: 1;
}
button {
  width: 100%;
}
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  background-color: #f1f1f1;
  border: none;
  background: none;
}

.dropdown button:hover {background-color: #ddd;}

